.AnimeCard {
  max-width: clamp(140px, 16vw, 240px);
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: clamp(140px, 16vw, 240px);
      border-radius: 6px;
    }
  }
  .title {
    .name {
      padding: 4px 2px;
      font-size: clamp(5px, 2vw, 14px);
      font-weight: 500;
      line-height: clamp(10px, 2vw, 22px);
      color: rgb(214, 208, 208);
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: underline;
      &:hover {
        color: rgb(75, 68, 211);
        transition: 0.2s;
      }
    }
    .genre {
      font-size: clamp(2px, 2vw, 12px);
      color: rgb(127, 124, 124);
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      span {
        margin: 0 6px;
      }
    }
  }
}
